.sign-up {
  display: flex;
}

.back-ground-1 {
  background-color: white;
  width: 70%;
  height: 100vh;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  color: #0078d7;
}

.app {
  background-color: #0078d7;
  width: 40%;
  height: 100vh;
  text-align: center;
  font-size: 2em;

  //   padding: 160px;
}

.button-container {
  border-radius: 5em;
  width: 70px;
  height: 70px;
  left: 50px;
  top: 50px;
  font-size: 1em;
  font-weight: bold;
  margin-right: 30px;
}

.button-container-1 {
  border-radius: 5em;
  width: 70px;
  height: 70px;
  left: 50px;
  top: 50px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.button-container-2 {
  border-radius: 5em;
  width: 70px;
  height: 70px;
  left: 50px;
  top: 50px;
  font-size: 1em;
  font-weight: bold;
  margin-left: 30px;
}

.input-1 {
  width: 50%;
  font-size: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  border: solid 1px lightgrey;
  border-radius: 10px;
}

.button-signup {
  font-size: 0.8em;
  width: 300px;
  border-radius: 40px;
  background-color: #0078d7;
  color: white;
  padding: 0.5em;
  margin-left: 280px;
  margin-right: 250px;
}

.button-signin {
  font-size: 0.8em;
  background-color: #0078d7;
  padding: 0.5em;
  border-radius: 40px;
  color: white;
  width: 300px;
}

.header-todos {
  color: white;
  text-align: left;
  margin-left: 50px;
}

.heading {
  color: white;
  padding-top: 160px;
}

.section {
  color: white;
}

.section-2 {
  color: #c4c4c4;
}

.link-forgot {
  color: #c4c4c4;
  margin-left: 4em;
  font-size: 20px;
}
