.todolist {
  width: 938px;
  margin-top: 70px;

  button {
    background-color: #0078d7;
    color: #e5e5e5;
    font-size: 42px;
    margin-left: 40px;
  }
}

.todolist-text {
  font-size: 50px;
  width: 90%;
}

// .button-todolist {
//   border: none;
//   font-size: 4em;
// }

.list {
  display: flex;
  font-style: normal;
  font-family: Roboto;
  align-items: center;
}

.task-todo {
  margin-left: 77%;
  font-size: 2em;
}

.input-todo {
  background-color: #e5e5e5;
}

.task {
  font-size: 2em;
  margin-bottom: 0.8em;
}

.task-1 {
  font-size: 2em;
  margin-bottom: 0.8em;
}

.task-2 {
  font-size: 2em;
  margin-bottom: 0.8em;
}

.task-3 {
  font-size: 2em;
}

.form-todo {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border: none;
  margin-bottom: 30px;
  padding: 10px;
}

.text-todo {
  font-size: 2em;
}

.m-10 {
  margin: 10px;
}

.border {
  margin-left: -39px;
}

.task-todo-1 {
  font-size: 2em;
}

// .readingbook {
//   background-color: white;
//   font-size: 50px;
//   font-family: roboto;
// }
