.navigation {
  background-color: #0078d7;
  color: white;
  font-size: 30px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;

  button {
    background-color: #0078d7;
    border: none;
    font-size: 30px;
    color: white;
    margin-top: 35px;
  }
}

.container-todo {
  background-color: #e5e5e5;
  height: 100%;
}
