.sidebar {
  width: 25%;
  padding-top: 45px;
}

.profile {
  display: flex;
  font-size: 30px;
  align-items: center;

  h3 {
    margin-left: 40px;
  }
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.category {
  list-style: none;
  padding: 0;
  margin-left: 120px;

  li {
    margin: 30px 0 100px;
  }
  a {
    text-decoration: none;
    font-size: 30px;
    color: black;
  }
}
